@{
    ViewData["Title"] = "BackEnd";
}

<h1>CoursePage</h1>

<div>
    <a class="back-btn" asp-action="Index" asp-controller="Home">Back to List</a>
</div>

<style>
    .back-btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font-size: 16px;
    }

    .back-btn:hover {
        background-color: #0056b3;
    }
</style>

<div>
    <h2>Playlist 1</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL4n1Qos4Tb6SWPbJNpiznp-Ok4A8J_23l" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div>
    <h2>Playlist 2</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL4n1Qos4Tb6RP_OovpgjoHLkCVaYFy-aj" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div>
    <h2>Playlist 3</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL4n1Qos4Tb6Sj1Y4xJuJoWCuqleeG2yt6" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div>
    <h2>Playlist 4</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL4n1Qos4Tb6QZkbTWJx7wHqEABP8Pg6uv" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div>
    <h2>Playlist 5</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL4n1Qos4Tb6RrQpmpGWALaE1PVvWR8d3A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div>
    <h2>Playlist 6</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL4n1Qos4Tb6S-uLNUmrgCJiQXfXi5KjRJ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div>
    <h2>Playlist 7</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL4n1Qos4Tb6ThSyydEJTm7xJ3qEwE8Oyu" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div>
    <h2>Playlist 8</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL4n1Qos4Tb6STYkwXrOdYxj_dlGqzozZN" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


