@{
    ViewData["Title"] = "FrontEnd";
}

<h1>CoursePage</h1>

<div>
    <a class="back-btn" asp-action="Index" asp-controller="Home">Back to List</a>
</div>


<style>
    .back-btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font-size: 16px;
    }

    .back-btn:hover {
        background-color: #0056b3;
    }
</style>


<div>
    <h2>Playlist 1</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLknwEmKsW8OuN04Odt2sJqt4aAnkp-iYA&si=g0dLgfVN9puG8TZz" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div>
    <h2>Playlist 2</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLknwEmKsW8Os7rKViMCL8x6irVJT7McSS&si=nwfECCm87PqSUX-T" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div>
    <h2>Playlist 3</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLknwEmKsW8OuTqUDaFRBiAViDZ5uI3VcE&si=VfkaZRsHhDBrzY3u" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div>
    <h2>Playlist 4</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLknwEmKsW8Otkp3ax3DWDWQufKy4RirWO&si=1IIwHVTldvPxd9ea" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div>
    <h2>Playlist 5</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLesfn4TAj57WJFn86KXOInQAsCdJlp6vl&si=0cbk32ABn9N5or-0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

